<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Practica2/src/TestTablet.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="TestTablet"/>
<stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Practica2"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="richards&#13;&#10;windows&#13;&#10;pro&#13;&#10;acer&#13;&#10;&quot;windows 8&quot;&#13;&#10;lite&#13;&#10;axion&#13;&#10;linux&#13;&#10;master"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Practica2"/>
</launchConfiguration>
