<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Practica2</display-name>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<context-param>
			<param-name>stock</param-name>
			<param-value>/WEB-INF/stock.txt</param-value>
	</context-param>
	<listener>
 		<listener-class> misservlets.practica2.InicializaStock</listener-class>
	</listener>
	<servlet-mapping>
		<servlet-name>LoginUsrServlet</servlet-name>
		<url-pattern>/LoginUsr</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginUsrServlet</servlet-name>
		<servlet-class>misservlets.practica2.LoginUsr</servlet-class>
		<init-param>
			<param-name>usuario1</param-name>
			<param-value>juancito</param-value>
		</init-param>
		<init-param>
			<param-name>password1</param-name>
			<param-value>juanpincha</param-value>
		</init-param>
		<init-param>
			<param-name>usuario2</param-name>
			<param-value>pedro</param-value>
		</init-param>
		<init-param>
			<param-name>password2</param-name>
			<param-value>boca</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductosServlet</servlet-name>
		<url-pattern>/Productos</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductosServlet</servlet-name>
		<servlet-class>misservlets.practica2.Productos</servlet-class>
		<init-param>
			<param-name>cant_total</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>golosina1</param-name>
			<param-value>caramelo</param-value>
		</init-param>
		<init-param>
			<param-name>pu1</param-name>
			<param-value>5</param-value>
		</init-param>
		<init-param>
			<param-name>golosina2</param-name>
			<param-value>chupetin</param-value>
		</init-param>
		<init-param>
			<param-name>pu2</param-name>
			<param-value>25</param-value>
		</init-param>
		<init-param>
			<param-name>golosina3</param-name>
			<param-value>chicle</param-value>
		</init-param>
		<init-param>
			<param-name>pu3</param-name>
			<param-value>15</param-value>
		</init-param>
	</servlet>
</web-app>